@import "./variables";

.content > .row:nth-child(2) {
    padding-top: 30px;
}

.content > .row:nth-child(3) {
    padding-top: 40px;
}

.comp-title {
    border: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.comp-title > h3 {
    display: inline-block;
    margin: 0;
    line-height: 2.2em;
}

.tab-layout{
    .tab-content{
        margin-top: 30px;
    }

    .nav.nav-tabs{
        padding: 14px 0;
        border-bottom: 2px solid #d0d0d0;
        > li {
        margin: 0 10px;
        &:hover a{
            border-bottom: 5px solid #f5ab03;
        }
        a {
            background: initial;
            padding: 15px;
            color: #a0a0a0;
            &.active{
            border-bottom: 5px solid #f5ab03;
            color: #28354a
            }
        }
        } 
    }
}

.table-alt {
  h3{
    margin-bottom: 0;
  }
  table{
    margin-bottom: 0
  }
  tr{
    th{
      &:last-child{
        padding-right: 30px
      }
      &:first-child{
        padding-left: 30px;
      }
      span{
        color: #212529;
      }
    }
  }
  
  tr.form {
    td {
      padding: 15px;
      background: #efefef;
      .mdc-select {
        height: initial;
        width: 100%;
      }
    }
  }
}

.mdc-button.mdc-button--raised {
  background-color: #256ae1;
}

.summary-card {
  color: #fff;
  position: relative;
  height: 120px;
  position: relative;

  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  margin: 0;

  div {
    display: inline-table;
    position: absolute;
    bottom: 0;
    padding: 0 20px;
  }
  span {
    position: absolute;
    top: 10px;
    right: 20px;
    i {
      font-size: 18px;
    }
  }

  h3 {
    font-family: $font;
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 0 5px;
    padding-right: 5px;
    margin: 0;
  }

  p {
    color: #fff;
    font-family: $font;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 0;
  }

  p:last-child {
    padding-bottom: 15px;
  }
}

.mdc-button:not(:disabled).mdc-button--raised:not(:disabled) {
  background-color: #256ae1;
  font-size: 12px;
  padding: 5px 15px;
  height: initial;
}

.mdc-radio-wrapper.mdc-form-field{
  > label{
    margin: 0;
  }
}

/* upload image css */
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px; /* minimum height */
  position: relative;
  cursor: pointer;
}

.dropbox-file {
  position: relative;
  border-radius: 20px;
  background-color: #256ae1;
  font-size: 12px;
  padding: 3px 15px;
  height: initial;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  &.rounded-square{
    border-radius: 5px;
    margin-left: 7px;
  }
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.file-upload{
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}

.dropbox-file p{
  font-size: 1.2em;
  text-align: center;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.dropbox-file{
  input{
    z-index: 100;
  }
}

.dropbox-file.button-2{
  input{
    height: 100%;
  }
  p{
    top: inherit;
    transform: inherit;
  }
}

.dropbox-file.rounded-square-2{
  width: fit-content;
  border-radius: 2px;
  height: 24px;
  margin-right: 5px;
  input{
    height: 100%;
  }
  p{
    top: inherit;
    transform: inherit;
  }
}

.pagination-container{
  width: fit-content;
  margin-top: 25px;
  .pagination > li.active > a{
    background-color: #256ae1;
    color: white;
  }
}
.pagination > li > a {
  padding: 5px 15px;
  margin: 0 2px;
}



/* .daterangepicker.show-ranges {
  min-width: 790px;

  .daterangepicker .drp-calendar {
      display: none;
      max-width: 320px;
  }
} */

